<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="6">
	<listeners>
		<listener class-name="Academy.Listeners" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Academy.AppTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="HeadingTest">
		<classes>
			<class name="Academy.HeadingTest" />
		</classes>
	</test>
	<test thread-count="5" name="LoginTest">
		<classes>
			<class name="Academy.HomePageTest" />
		</classes>
	</test>
	<test thread-count="5" name="NavigationBarTest">
		<classes>
			<class name="Academy.NavigationBarTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
